<div class="row m-3">
  <div class="survey-info col-md-12"> 
      <a class="app-link text-right d-inline-block w-100" [routerLink]="['/launchsurvey']">Configure Survey</a>
      <label class="text-center w-100 text-20">Welcome to <span class="primary-text">{{surveyType}} -
          {{surveyId}} (ID)</span></label>
      <label class="text-center w-100 text-20">This survey is assigned by <span
          class="primary-text">{{surveyOrganizer}}</span></label>
  </div>
  <ng-template #loading>
    Loading..
  </ng-template>
  <div class="col-md-12 surveyWrapper" *ngIf="questions; else loading">
    <form [formGroup]="formGroup">
      <!--Dynamic stepper which adjusts based on total number of questions-->
      <mat-horizontal-stepper  #stepper >
        <ng-template matStepperIcon="edit">
          <mat-icon>done_outline</mat-icon>
        </ng-template>
        <mat-step *ngFor="let questionGroup of questionGroups; let i=index; last as isLast" formGroupName="{{i}}"
          [stepControl]="questionGroup">
          <p *ngIf="invalid" class="error-message">*All fields are mandatory</p>
          <!--grouping all the questions in a list-->
          <ul class="questions-list">
            <li *ngFor="let control of questionGroup.controls | keyvalue; let j=index;">
              <div *ngIf="getQuestion(control.key).question_type_id==1">
                <!--displaying options-->
                <div>
                  {{j+1}}. {{getQuestion(control.key).question}}
                </div>
                <!--displaying options of the questions only if options are not null-->
                <mat-radio-group aria-label="Select an option" name="{{control.key}}" formControlName="{{control.key}}">
                  <mat-radio-button [value]="getQuestion(control.key).option_1" class="options"
                    *ngIf="getQuestion(control.key).option_1">
                    {{getQuestion(control.key).option_1}}</mat-radio-button>
                  <mat-radio-button [value]="getQuestion(control.key).option_2" class="options"
                    *ngIf="getQuestion(control.key).option_2">
                    {{getQuestion(control.key).option_2}}</mat-radio-button>
                  <mat-radio-button [value]="getQuestion(control.key).option_3" class="options"
                    *ngIf="getQuestion(control.key).option_3">
                    {{getQuestion(control.key).option_3}}</mat-radio-button>
                  <mat-radio-button [value]="getQuestion(control.key).option_4" class="options"
                    *ngIf="getQuestion(control.key).option_4">
                    {{getQuestion(control.key).option_4}}</mat-radio-button>
                  <mat-radio-button [value]="getQuestion(control.key).option_5" class="options"
                    *ngIf="getQuestion(control.key).option_5">
                    {{getQuestion(control.key).option_5}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <!--textarea if question type is 2-->
              <div *ngIf="getQuestion(control.key).question_type_id==2">
                <div>
                  {{j+1}}. {{getQuestion(control.key).question}}
                </div>
                <textarea matInput type="text" class="app-textarea" maxlength="250"
                  formControlName="{{control.key}}"></textarea>
              </div>
              <!--scale if question type is 3-->
              <div *ngIf="getQuestion(control.key).question_type_id==3">
                <div>
                  {{j+1}}. {{getQuestion(control.key).question}}
                </div>
                <div class="rating_scale">
                  <label><input type="radio" [name]="control.key" value="1" class="scale-options"
                      [formControlName]="control.key" /><span>1</span></label>
                  <label><input type="radio" [name]="control.key" value="2" class="scale-options"
                      [formControlName]="control.key" /><span>2</span></label>
                  <label><input type="radio" [name]="control.key" value="3" class="scale-options"
                      [formControlName]="control.key" /><span>3</span></label>
                  <label><input type="radio" [name]="control.key" value="4" class="scale-options"
                      [formControlName]="control.key" /><span>4</span></label>
                  <label><input type="radio" [name]="control.key" value="5" class="scale-options"
                      [formControlName]="control.key" /><span>5</span></label>
                </div>
              </div>
            </li>
          </ul>
          <!--buttons-->
          <div class="row">
            <div class="col-md-12 text-right">
              <button mat-button class="app-link m-3" (click)="saveLater()">Save for Later</button>
              <button *ngIf="isLast"  mat-button matStepperNext class="app-button" (click)="onSubmit()">Submit</button>
              <button *ngIf="!isLast" mat-button matStepperNext class="app-button" (click)="nextClick()">Next</button>
            </div>
          </div>
        </mat-step>
        <!--Thank you step-->
        <mat-step>
          <div class="col-md-12 text-center">
            <i class="material-icons thankyouIcon">thumb_up_alt</i><br>
            <label>Thank you for your feedback!</label>
            <a class="app-link text-center d-inline-block w-100" [routerLink]="['/retro']">View Survey results</a>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</div>